<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="pull-left">
          <img class="media-object img-rounded" ng-src="{{movie.poster}}">
        </div>
        <div class="media-body">
          <h2 class="media-heading">
            {{movie.name}}
            <span class="pull-right text-danger"><span class="ion-heart"></span> {{movie.imdbRating}}</span>
          </h2>
          <div style="font-weight: bold;font-size: 20px;">
            <span ng-repeat="genre in movie.genre">
              {{genre}}{{$last ? '' : ', '}}
            </span>
            <span>|</span>
            <span>
              {{movie.released | date: 'dd-MMM-yyyy'}}
            </span>
          </div>
          <p>{{movie.overview}}</p>
          <div style="font-weight: bold;font-size: 20px;">
            <h4>Director:
              <span style="font-weight: normal">{{movie.director}}</span>
            </h4>
            <h4>Writers:
              <span style="font-weight: normal" ng-repeat="writer in movie.writer">
                {{writer}}{{$last ? '' : ', '}}
              </span>
            </h4>
            <h4>Stars:
              <span style="font-weight: normal" ng-repeat="actor in movie.actors">
                {{actor}}{{$last ? '' : ', '}}
              </span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
